<!--
  <div class="row mt-3 ml-5" >
      <div class = "col-6" >
        <form #f="ngForm" class="form-horizontal form-material" (ngSubmit)="saveData(f)" >
            <h4>Hub orders</h4>
            <select [(ngModel)]="pedidoSeleccionado" name="pedido" #hub="ngModel" class="form-control">
              <option *ngFor="let pedido of this.pedidos" [value]="hub">{{pedido.idPedido}}</option>
            </select>
            <button>recoger</button>
        </form>


      </div>
  </div> -->


  <div class= "container" align="center">
    <div  class= "row mt-2 ml-5">
      <button *ngIf="!online" (click)= "online= !online" class = "btn btn-block btn-success"> {{'onlineButton' | translate}}</button>
      <button *ngIf="online" (click)= "online= !online" class = "btn btn-block btn-danger"> {{'offlineButton' | translate}}</button>

    </div>
  </div>


  <div class= "container" align="center">
    <div  class= "col-xs-12 ">
          <!-- Aqui va el mapa -->
          <app-here-map *ngIf="online" [apikey]="this.apikey" id="map" [lat]="myLat" [lng]="myLong"></app-here-map>
        </div>
    </div>





